* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(89, 0, 255);
}

header {
    padding:50px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;

    
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    
}

.memory-game /* Container */ {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .8s;
    cursor: pointer;
}

.memory-card:active {
    transform: scale(.90);
    transition: transform .5s;
}

.memory-card.flip {
    transform: rotateX(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    background: rgba(47, 0, 255, 0.178);
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateX(180deg);
}

footer {
    padding:50px;
}
